<form id="get_tweet" action="/twitter/user" method="POST">
<input id="handle" type="text" placeholder="Handle" name="handle">
<input type="submit" value="TWEET">
</form>

<div id="add_yo_stuff"></div>
